*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: tahoma;
}
:root{
  --primary-color: #276b93;
}
body {
  text-align: center;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
}
ul, li{
  list-style: none;
}
a{
  text-decoration: none;
}
h1.main{
  color: #333;
  font-weight: bold;
  font-size: 40px;
  margin: 0 auto;
  max-width: 800px;
  margin-bottom: 20px;
}

input {
  font-size: 16px;
}

canvas {
  margin-top: 20px;
  border: 2px solid #ddd;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  margin: 20px auto;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #2e86de;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

button:hover {
  background-color: #1e6fbe;
}
.canvas-container{
  margin: 0 auto !important;
}
.top{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.custom-upload {
  background-color: #2e86de;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.custom-upload:hover {
  background-color: #1e6fbe;
}

#fileName {
  font-size: 14px;
  color: #666;
  margin-top: 5px;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding-top: 80px;
}

.canvas-container {
  margin: 0 auto !important;
}
header{
  height: 100px;
  padding: 10px 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  position: relative;
}
header .wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
header .wrapper div.left h1{
  width: 100px;
}
header .wrapper div.left h1 a{
  display: block;
  width: 100%;
}
header .wrapper div.left h1 a img{
  display: block;
  width: 100%;
}
header .wrapper div.middle{
  padding-top: 15px;
}
header .wrapper div.middle nav ul li a{
  color: #276b93;
}
header .wrapper div.middle nav ul{
  display: flex;
  align-items: center;
  gap: 30px;
}
header .wrapper div.right{
  display: none;
}
header .overlay{
  position: fixed;
  right: -100%;
  top: 0;
  background: var(--primary-color);
  height: 100vh;
  z-index: 1000;
  width: 50vw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 40px;
  transition: all .5s ease;
}
header .overlay.active{
  right: 0;
}
header .overlay .xmark{
  width: 30px;
  cursor: pointer;
}
header .overlay .xmark img{
  display: block;
  width: 100%;
  filter: invert(1);
}
header .overlay nav ul{
  text-align: left;
}
header .overlay nav ul li{
  margin-bottom: 10px;
  font-size: 20px;
}
header .overlay nav ul li a{
  color: #fff;
}
footer{
  padding: 30px;
  text-align: center;
  margin-top: 20px;
}
@media all and (min-width: 300px) {
  .canvas-container{
    width: 290px !important;
    height: 290px !important;
  }
  #posterCanvas{
    width: inherit !important;
    height: inherit !important;
  }
  .upper-canvas{
    width: inherit !important;
    height: inherit !important;
  }
}
@media all and (min-width: 347px) {
  .canvas-container{
    width: 320px !important;
    height: 320px !important;
  }
  #posterCanvas{
    width: inherit !important;
    height: inherit !important;
  }
  .upper-canvas{
    width: inherit !important;
    height: inherit !important;
  }
}
@media all and (min-width: 400px) {
  .canvas-container{
    width: 380px !important;
    height: 380px !important;
  }
  #posterCanvas{
    width: inherit !important;
    height: inherit !important;
  }
  .upper-canvas{
    width: inherit !important;
    height: inherit !important;
  }
}
@media all and (min-width: 500px) {
  .canvas-container{
    width: 480px !important;
    height: 480px !important;
  }
  #posterCanvas{
    width: inherit !important;
    height: inherit !important;
  }
  .upper-canvas{
    width: inherit !important;
    height: inherit !important;
  }
}
@media all and (min-width: 599px) {
  .canvas-container{
    width: 500px !important;
    height: 500px !important;
  }
  #posterCanvas{
    width: inherit !important;
    height: inherit !important;
  }
  .upper-canvas{
    width: inherit !important;
    height: inherit !important;
  }
}
@media all and (min-width: 699px) {
  .canvas-container{
    width: 550px !important;
    height: 550px !important;
  }
  #posterCanvas{
    width: inherit !important;
    height: inherit !important;
  }
  .upper-canvas{
    width: inherit !important;
    height: inherit !important;
  }
}
@media all and (min-width: 700px){
  .canvas-container{
    width: 600px !important;
    height: 600px !important;
  }
  #posterCanvas{
    width: inherit !important;
    height: inherit !important;
  }
  .upper-canvas{
    width: inherit !important;
    height: inherit !important;
  }
}
@media all and (min-width: 1300px){
  .canvas-container{
    width: 1000px !important;
    height: 1000px !important;
  }
  #posterCanvas{
    width: inherit !important;
    height: inherit !important;
  }
  .upper-canvas{
    width: inherit !important;
    height: inherit !important;
  }
}
@media all and (max-width: 980px){
  header .wrapper div.middle{
    display: none;
  }
  header .wrapper div.right{
    display: block;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    cursor: pointer;
  }
  header .wrapper div.right img{
    filter: invert(27%) sepia(45%) saturate(728%) hue-rotate(167deg) brightness(91%) contrast(89%);
  }
}
@media all and (max-width: 850px){
  h1.main{
    font-size: 30px;
  }
}
@media all and (max-width: 800px){
  h1.main{
    max-width: 600px;
  }
}
@media all and (max-width: 690px){
  header .overlay{
    width: 70vw;
  }
}
@media all and (max-width: 612px){
  h1.main{
    font-size: 27px;
    max-width: 500px;
  }
}
@media all and (max-width: 526px){
  h1.main{
    font-size: 24px;
    max-width: 480px;
  }
   header .overlay{
    width: 90vw;
  }
}
@media all and (max-width: 458px){
  h1.main{
    font-size: 28px;
    max-width: 440px;
  }
}
@media all and (max-width: 435px){
  h1.main{
    max-width: 400px;
  }
}
@media all and (max-width: 374px){
  h1.main{
    font-size: 25px;
    max-width: 410px;
  }
}